/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 * 
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
    -moz-border-radius: 0 0 0 0 !important;
    -webkit-border-radius: 0 0 0 0 !important;
    background: none !important;
    border: 0 !important;
    bottom: auto !important;
    float: none !important;
    height: auto !important;
    left: auto !important;
    line-height: 1.1em !important;
    margin: 0 !important;
    outline: 0 !important;
    overflow: visible !important;
    padding: 0 !important;
    position: static !important;
    right: auto !important;
    text-align: left !important;
    top: auto !important;
    vertical-align: baseline !important;
    width: auto !important;
    box-sizing: content-box !important;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 1em !important;
    min-height: inherit !important;
    min-height: auto !important;
}

.syntaxhighlighter {
    width: 100% !important;
    margin: 2em 0 2em 0 !important;
    position: relative !important;
    overflow: auto !important;
    font-size: 1em !important;
    padding: 1em 0 !important;
}
.syntaxhighlighter.source {
    overflow: hidden !important;
}
.syntaxhighlighter .bold {
    font-weight: bold !important;
}
.syntaxhighlighter .italic {
    font-style: italic !important;
}
.syntaxhighlighter .line {
    white-space: pre !important;
}
.syntaxhighlighter table {
    width: 100% !important;
}
.syntaxhighlighter table caption {
    text-align: left !important;
    padding: .5em 0 0.5em 1em !important;
}
.syntaxhighlighter table td.code {
    width: 100% !important;
}
.syntaxhighlighter table td.code .container {
    position: relative !important;
}
.syntaxhighlighter table td.code .container textarea {
    box-sizing: border-box !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    background: white !important;
    padding-left: 1em !important;
    overflow: hidden !important;
    white-space: pre !important;
}
.syntaxhighlighter table td.gutter .line {
    text-align: right !important;
    padding: 0 0.5em 0 1em !important;
}
.syntaxhighlighter table td.code .line {
    padding: 0 1em !important;
}
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
    padding-left: 0em !important;
}
.syntaxhighlighter.show {
    display: block !important;
}
.syntaxhighlighter.collapsed table {
    display: none !important;
}
.syntaxhighlighter.collapsed .toolbar {
    padding: 0.1em 0.8em 0em 0.8em !important;
    font-size: 1em !important;
    position: static !important;
    width: auto !important;
    height: auto !important;
}
.syntaxhighlighter.collapsed .toolbar span {
    display: inline !important;
    margin-right: 1em !important;
}
.syntaxhighlighter.collapsed .toolbar span a {
    padding: 0 !important;
    display: none !important;
}
.syntaxhighlighter.collapsed .toolbar span a.expandSource {
    display: inline !important;
}
.syntaxhighlighter .toolbar {
    position: absolute !important;
    right: 1px !important;
    top: 1px !important;
    width: 11px !important;
    height: 11px !important;
    font-size: 10px !important;
    z-index: 10 !important;
}
.syntaxhighlighter .toolbar span.title {
    display: inline !important;
}
.syntaxhighlighter .toolbar a {
    display: block !important;
    text-align: center !important;
    text-decoration: none !important;
    padding-top: 1px !important;
}
.syntaxhighlighter .toolbar a.expandSource {
    display: none !important;
}
.syntaxhighlighter.ie {
    font-size: .9em !important;
    padding: 1px 0 1px 0 !important;
}
.syntaxhighlighter.ie .toolbar {
    line-height: 8px !important;
}
.syntaxhighlighter.ie .toolbar a {
    padding-top: 0px !important;
}
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content {
    background: none !important;
}
.syntaxhighlighter.printing .line .number {
    color: #bbbbbb !important;
}
.syntaxhighlighter.printing .line .content {
    color: black !important;
}
.syntaxhighlighter.printing .toolbar {
    display: none !important;
}
.syntaxhighlighter.printing a {
    text-decoration: none !important;
}
.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
    color: black !important;
}
.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
    color: #008200 !important;
}
.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
    color: blue !important;
}
.syntaxhighlighter.printing .keyword {
    color: #006699 !important;
    font-weight: bold !important;
}
.syntaxhighlighter.printing .preprocessor {
    color: gray !important;
}
.syntaxhighlighter.printing .variable {
    color: #aa7700 !important;
}
.syntaxhighlighter.printing .value {
    color: #009900 !important;
}
.syntaxhighlighter.printing .functions {
    color: #ff1493 !important;
}
.syntaxhighlighter.printing .constants {
    color: #0066cc !important;
}
.syntaxhighlighter.printing .script {
    font-weight: bold !important;
}
.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
    color: gray !important;
}
.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
    color: #ff1493 !important;
}
.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
    color: red !important;
}
.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
    color: black !important;
}

/* Reset */
.upload-form,
.upload-form div,
.upload-form span,
.upload-form input,
.upload-form a,
.upload-form h1,
.upload-form p {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* Form Container */
.upload-form {
    position: relative;
    z-index: 100;
    cursor: default;
    width: 400px;
    min-height: 180px;
    padding: 25px 25px 65px 25px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    background: url(../img/upload-bg.png);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%), url(../img/upload-bg.png);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%), url(../img/upload-bg.png);
    background: -o-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%), url(../img/upload-bg.png);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%), url(../img/upload-bg.png);
    background: linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%), url(../img/upload-bg.png);
}

/* Clear Floats */
.upload-form .cb { clear: both; }

/* Form Title */
.upload-form h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #f6f6f6;
    text-shadow: 0px 1px 1px rgba(0,0,0, .65);
    padding-bottom: 2px;
    border-bottom: 1px solid #7a7b80;
}

/* Replace Title with Image */
.upload-form h1.replace-text {
    display: block;
    width: 100%;
    height: 17px;
    padding-bottom: 7px;
    text-indent: -9999px;
    background: url(../img/title.png) no-repeat left center;
}

/* Close Button */
.upload-form .close {
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    top: 28px;
    right: 24px;
}

/* Paragraph */
.upload-form p {
    padding: 10px 0;
    font-family: sans-serif;
    font-size: 12px;
    color: #a4a5a8;
}


/* Added Files */
.addedFile {
    position: relative;
    display: block;
    overflow: hidden;
    word-break: break-all;
    margin-bottom: 5px;
    padding: 0 0 0 25px;
    height: 30px;

    font-family: sans-serif;
    font-size: 12px;
    line-height: 30px;
    color: #646464;

    background: #f6f6f6 url(../img/file.png) no-repeat 5px center;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Progress Bar */
.ui-progressbar,
.ui-progressbar-value {
    position: relative;
    height: 4px;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.ui-progressbar {
    cursor: pointer;
    margin: 15px 0 20px 0;
    background: #242424;

    -webkit-box-shadow: 0px 1px 0px rgba(255,255,255, .1);
    -moz-box-shadow: 0px 1px 0px rgba(255,255,255, .1);
    box-shadow: 0px 1px 0px rgba(255,255,255, .1);
}

.ui-progressbar-value {
    background: #82d344;
    background: -webkit-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: -moz-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: -o-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: -ms-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: linear-gradient(top, #82d344 0%, #51af34 100%);
}

.ui-progressbar-value span.progressTooltip {
    position: absolute;
    display: block;
    width: 36px;
    height: 14px;
    padding: 5px 0 4px 0;
    top: 10px;
    right: -18px;

    font-family: sans-serif;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    color: #646464;

    background: transparent url(../img/tooltip.png) no-repeat;
}

.img-prod{
    width: 70%;
    margin: auto;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    border-width: 6px;
    border-style: dashed;
    border-color: #CCC;
}

#filelist{
    text-shadow: 1px 0px 0px #333, 
        -1px 0px 0px #333, 
        0px 1px 0px #333, 
        0px -1px 0px #333;
    font-size: 90%;
    text-align: left;
    padding-left: 5px;
    font-weight: bold;
    color: #FFF;
}

.cred{
    font-size: 11px;
    color: #666;
    
}