<h2 class="sub-header">Marcas cadastradas <a href="gerenciarMarca.php" type="button" class="btn btn-primary btn-xs"> Novo</a></h2> 
<div class="table-responsive">
    {$erroMarca}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome Marca</th>
                <th>Data Cadastro</th>
                <th>Status</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {foreach $marcas as $c}
                <tr>
                    <td>{$c->id_marca_produto}</td>
                    <td>{$c->nome_marca}</td>
                    <td>{$c->data_cadastro_marca|date_format: "%d/%m/%Y"}</td>
                    <td>{if $c->status_marca == "A"} <span class="text-success"><strong>Ativo</strong></span> {else} Desativado {/if}</td>
                    <td width="150">
                        <a href="editarMarca.php?idEdMar={$c->id_marca_produto}" class="btn btn-warning btn-xs">Editar</a>
                        <a href="{$c->id_marca_produto}" class="btn btn-danger btn-xs">Desativar</a>
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>
</div>